@media(max-width:1600px) {
    /*** Anasayfa - Header ***/
    .logo {
        padding: 20px 0 15px 85px;
    }
    /*** Anasayfa - Ekibimiz ***/
    .team-title {
        font-size: 38pt;
        margin-top: 192px;
        left: 25%;
    }
    #ekip-slider3 img {
        width: 86%;
    }
    #ekip-slider4 .team-desc {
        max-height: 420px;
    }
    /*** Kurumsal - Misyon ***/
    .mission-desc {
        max-height: 550px;
    }
    /*** Arabuluculuk Nedir ***/
    .mediation-container .mediation-desc {
        padding: 20px 50px;
    }
    .mediation-container .mediation-big-title {
        font-size: 40pt;
    }
    /*** Arabulucu Ne Yapar ***/
    .mediator-container p {
        padding: 30px 50px;
        max-height: 325px;
    }
    .mediator-container h1 {
        font-size: 40pt;
    }
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    .mediator-when-container h1 {
        font-size: 33pt;
    }
    .mediator-when-container p {
        padding: 30px 50px;
    }
    /*** Arabuluculuk Süreci Nasıl İşler ***/
    .process-desc {
        padding: 30px 50px;
    }
    /*** Anlaşma Sağlanmasının Hukuki Sonucu Nedir ***/
    .law-container h1 {
        font-size: 24pt;
    }
    .law-container p {
        padding: 30px 50px;
    }
    /*** Başarısız Olunursa Ne Olur ***/
    .result-container p {
        padding: 30px 50px;
    }
    .result-desc {
        margin-top: -130px;
    }
    /*** Ekibimiz ***/
    #team-slider1 .owl-nav.disabled {
        top: 45%;
    }
    /*** Hizmetlerimiz - İşçi İşveren Uyuşmazlıkları ***/
    .services-container .services-desc {
        padding: 20px 50px;
    }
    .vision-title {
        font-size: 30pt;
    }
}

@media(max-width:1440px) {
    /*** Anasayfa - Header ***/
    .logo {
        width: 14%;
    }
    /*** Anasayfa - Hakkımızda ***/
    .about-us-text {
        padding: 40px 50px;
    }
    /*** Anasayfa - Arabuluculuk ***/
    .mediation-text {
        padding-top: 30px;
    }
    /*** Anasayfa - Ekibimiz ***/
    section.ekibimiz {
        padding-top: 100px;
    }
    #ekip-slider4 {
        margin-top: -100px;
    }
    #ekip-slider4 p {
        padding-top: 0px; 
    }
    #ekip-slider4 .team-desc {
        max-height: 365px;
        padding: 0px 10px 10px 10px;
    }
    /*** Anasayfa - Uzmanlık Alanlarımız ***/
    .subject-title {
        padding-top: 0px;
    }
    .desc {
        padding-top: 0px;
        line-height: 25px;
    }
    /*** Anasayfa - Tespit ***/
    section.tespit .panel {
        padding: 0px 50px;
    }
    .fixing-image-title {
        font-size: 25pt;
    }
    .fixing-image-title h1 {
        padding-top: 0px;
        font-size: 25pt;
    }
    .fixing {
        padding: 10px 0px;
    }
    /*** Anasayfa - Footer ***/
    .contact-title .title {
        margin-left: 150px;
    }
    .contact-detail p {
        font-size: 11pt;
    } 
    /*** Kurumsal - Slider ***/
    section.kurumsal-slider .title {
        font-size: 40pt;
    }
    .about-us-container {
        margin-right: 100px;
    }
    /*** Kurumsal - Vizyon ***/
    .vision-desc {
        padding: 20px 40px;
    }
    .vision-container {
        margin-right: 100px;
    }
    /*** Kurumsal - Misyon ***/
    .mission-container {
        margin-right: 100px;
    }
    .mission-desc {
        padding: 20px 40px;
    }
    .mission-desc .desc {
        padding-top: 20px;
    }
    #mission {
        margin-top: -75px;
    }
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    .mediator-when-container h1 {
        font-size: 30pt;
    }
    /*** Ekibimiz ***/
    .team-slider1 {
        margin-top: -50px;
    }
    #team-slider1 .owl-nav.disabled {
        top: 43%;
    }
    /*** Uzmanlık Alanlarımız ***/
    .services-container {
        margin-right: 100px;
    }
    .services-container .services-desc {
        padding: 20px 45px;
    }
    .services-container .desc {
        padding-top: 20px;
    }
}

@media (max-width:1366px) {
    /*** Anasayfa - Header ***/
    .nav ul li {
        padding: 0 30px;
    }
    .nav ul li a {
        font-size: 12pt;
    }
    .dropbtn {
        font-size: 12pt;
    }
    /*** Anasayfa - Slider ***/
    #homeSlider .owl-nav [class*=owl-] {
        font-size: 25px;
    }
    /*** Anasayfa - Hakkımızda ***/
    .about-us-title {
        font-size: 40pt;
    }
    .about-us-text {
        padding: 35px 40px;
    }
    /*** Anasayfa - Ekibimiz ***/
    #ekip-slider4 .team-desc {
        max-height: 335px;
    }
    #ekip-slider4 .team-desc h3 {
        font-size: 15pt;
    }
    #ekip-slider4 p {
        font-size: 9pt;
    }
    /*** Anasayfa - Uzmanlık Alanlarımız ***/
    .expertise-title {
        font-size: 35pt;
    }
    .desc {
        font-size: 9pt;
    }
    /*** Anasayfa - Tespit ***/
    .fixing-title {
        font-size: 25pt;
    }
    /*** Anasayfa - Footer ***/
    .contact-title .title {
        margin-left: 100px;
    }
    .contact-detail .icon {
        font-size: 22px;
    }
    /*** Kurumsal - Vizyon ***/
    #vision .owl-nav.disabled {
        margin-top: 0;
    }
    .vision-desc {
        padding: 20px;
    }
    /*** Kurumsal - Misyon ***/
    .mission-desc {
        max-height: 490px;
    }
    /*** Arabuluculuk Nedir ***/
    .mediation-container .mediation-big-title {
        font-size: 35pt;
    }
    /*** Arabulucu Ne Yapar ***/
    .mediator-container h1 {
        font-size: 35pt;
        padding-bottom: 20px;
    }
    .mediator-desc {
        margin-top: -55px;
    }
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    .mediator-when-container h1 {
        font-size: 27pt;
    }
    .mediator-when-desc {
        margin-top: -115px;
    }
    /*** Arabuluculuk Süreci Nasıl İşler ***/
    .process-desc h1 {
        font-size: 32pt;
    }
    /*** Anlaşma Sağlanmasının Hukuki Sonucu Nedir ***/
    .law-desc {
        margin-top: -25px;
    }
    .law-container h1 {
        font-size: 23pt;
    }
    /*** Ekibimiz ***/
    #team-slider1 .owl-nav.disabled {
        top: 40%;
    }
    /*** Uzmanlık Alanlarımız ***/
    .services-container .title {
        font-size: 40pt;
    }
    .services-container .vision-title {
        font-size: 25pt;
    }
    section.hizmetler2 {
        margin-top: 150px;
    }
    section.hizmetler3 {
        margin-top: 150px;
    }
    section.hizmetler4 {
        margin-top: 150px;
    }
    /*** İletişim ***/
    .contact-panel {
        margin-left: 75px;
    }
    .contact-panel .title {
        font-size:  40pt;
    }
    .contact-panel .phone-numbers, .contact-panel .email, .contact-panel .fax, .contact-panel .address {
        margin-top: 15px;
    }
    .contact-panel p {
        font-size:  11pt;
    }
}

@media(max-width:1280px) {
    /*** Anasayfa - Slider ***/
    .slider-text {
        left: 5%;
        bottom: 40%;
    }
    /*** Anasayfa - Arabuluculuk ***/
    .mediation-text {
        padding-top: 15px;
    }
    /*** Anasayfa - Ekibimiz ***/
    #ekip-slider4 .team-desc {
        max-height: 305px;
    }
    .team-title {
        font-size: 30pt;
    }
    /*** Anasayfa - Tespit ***/
    section.tespit {
        margin-top: 100px;
    }
    /*** Anasayfa - Footer ***/
    .contact-title .title {
        padding-top: 75px;
    }
    .contact-title .line {
        margin-top: 70px;
    }
    .contact-detail {
        margin-top: 75px;
    }
    .contact-detail p {
        font-size: 10pt;
    }
    /*** Kurumsal - Vizyon ***/
    .vision-desc .desc {
        line-height: 25px;
    }
    /*** Kurumsal - Misyon ***/
    .mission-desc {
        padding: 20px;
        max-height: 450px;
    }
    .vision-galery .col-lg-7 img {
        padding-top: 50px;
    }
    /*** Arabuluculuk Nedir ***/
    .mediation-container .mediation-big-title {
        font-size: 30pt;
        padding-bottom: 15px;
    }
    .mediation-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    /*** Arabulucu Ne Yapar ***/
    .mediator-container h1 {
        font-size: 30pt;
        padding-bottom: 15px;
    }
    .mediator-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    .mediator-when-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    /*** Arabuluculuk Süreci Nasıl İşler ***/
    .process-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    .process-desc h2 {
        font-size: 19pt;
    }
    /*** Anlaşma Sağlanamamasının Hukuki Sonucu Nedir ***/
    .law-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    .law-container h1 {
        padding-bottom: 15px;
    }
    /*** Başarısız Olunursa Ne Olur ***/
    .result-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    /*** Ekibimiz ***/  
    section.hakkimizda-ekibimiz .title {
        font-size: 45pt;
    }
    section.hakkimizda-ekibimiz h1 {
        font-size: 22pt;
    }
    #team-slider1 .owl-nav.disabled {
        top: 38%;
    }
    /*** Hizmetlerimiz ***/
    .services-container .title {
        font-size: 40pt;
    }
}

@media(max-width:1024px) {
    /*** Anasayfa - Header ***/
    .logo {
        padding: 20px 0 15px 60px;
    }
    .nav {
        padding-top: 35px;
    }
    .nav ul li {
        padding: 0 20px;
    }
    /*** Anasayfa - Slider ***/
    .slider-text h1 {
        font-size: 20pt;
    }
    .social-media ul li {
        font-size: 17px;
    }
    li.social-media-line {
        height: 130px;
    }
    /*** Anasayfa - Hakkımızda ***/
    .about-us-title {
        font-size: 35pt;
    }    
    .about-us-text {
        right: 100px;
        margin-top: 30px;
    }
    .detail a {
        padding: 1px 7px;
    }
    /*** Anasayfa - Arabuluculuk ***/
    section.arabuluculuk .panel {
        padding: 0px 20px;
    }
    .mediation-title {
        font-size: 35pt;
    }
    .mediation-image {
        padding-top: 22px;
    }
    .mediation-text {
        padding-right: 10px;
    }
    /*** Anasayfa - Ekibimiz ***/
    section.ekibimiz {
        margin-top: 100px;
    }
    section.ekibimiz .layer {
        padding: 50px 40px;
    }
    #ekip-slider4 .team-desc {
        max-height: 300px;
    }
    #ekip-slider4 .detail {
        font-size: 8pt;
    }
    .team1 {
        padding-right: 0px;
    }
    /*** Anasayfa - Tespit ***/
    section.tespit {
        margin-bottom: 100px;
    }
    /*** Anasayfa - Footer ***/
    .contact-title {
        background-color: #282828;
    }
    .contact-title .title {
        margin: 0px;
        font-size: 30pt;
        text-align: center;
        padding-top: 40px;
        float: none;
    }
    .contact-title .line {
        display: none;
    }
    .contact-detail {
        margin-top: 15px;
    }
    /*** Kurumsal - Slider ***/
    section.kurumsal-slider .title {
        font-size: 30pt;
    }
    /*** Kurumsal - Vizyon ***/
    section.vizyon {
        padding-bottom: 20px;
        margin-top: 50px;
    }
    /*** Kurumsal - Misyon ***/
    section.misyon {
        margin-bottom: 100px;
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .mission-desc {
        width: 100%;
    }
    .vision-galery .col-lg-7 img {
        padding-top: 25px;
    }
    .vision-galery {
        padding-right: 0px;
        padding-left: 0px;
    }
    #mission {
        display: none;
    }
    #mission-mobil {
        display: block;
        margin-top: 25px;
    }
    /*** Arabuluculuk Nedir ***/
    .mediation-container {
        padding-top: 20px;
    }
    /*** Arabulucu Ne Yapar ***/
    section.mediator {
        margin-top: 100px;
    }
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    section.mediator-when {
        margin-top: 100px;
        padding-top: 20px;
    }
    .mediator-when-container h1 {
        font-size: 30pt;
        padding-bottom: 18px;
    }
    /*** Arabuluculuk Süreci Nasıl İşler ***/
    .process-desc h1 {
        font-size: 30pt;
        padding-bottom: 15px;
    }
    section.process {
        margin-top: 100px;
        padding-top: 20px;
    }
    .mediator-when-desc {
        margin-top: 0px;
    }
    .mediator-when-container.clearfix
    {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    /*** Anlaşma Sağlanmasının Hukuki Sonucu Nedir ***/
    section.law {
        margin-top: 100px;
    }
    /*** Başarısız Olunursa Ne Olur ***/
    section.result {
        margin-top: 100px;
        padding-top: 20px;
        margin-bottom: 100px;
    }
    .result-desc {
        margin-top: 0px;
    }
    .result-container.clearfix
    {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .result-container h1 {
        font-size: 30pt;
        padding-bottom: 14px;
    }
    /*** Ekibimiz ***/
    section.hakkimizda-ekibimiz .title {
        float: none;
        margin-left: 100px;
        margin-right: 100px;
    }
    .team-slider1 {
        margin-top: 0px;
    }
    #team-slider1 .owl-nav.disabled {
        top: 59%;
    }
    .team-slider {
        margin-right: 100px;
    }
    /*** Uzmanlık Alanlarımız ***/
    section.hizmetler-slider .title {
        font-size: 30pt;
    }
    .hizmetler1 .services-container.clearfix
    {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .hizmetler1 .services-container .services-desc {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    section.hizmetler1 {
        padding-bottom: 20px;
    }
    .services-container .services-image {
        padding-right: 0px;
    }
    .services-container .services-desc {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .services-container .line {
        display: none;
    }
    section.hizmetler2 {
        margin-top: 100px;
        padding-bottom: 20px;
    }
    section.hizmetler3 {
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .hizmetler3 .services-container.clearfix
    {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    section.hizmetler4 {
        margin-top: 100px;
        padding-bottom: 20px;
    }
    /*** İletişim ***/
    .contact-panel {
        margin-left: 50px;
    }
    .contact-panel .title {
        font-size: 30pt;
    }
    .contact-panel .icon {
        font-size: 20px;
    }
    .contact-panel p {
        font-size: 10pt;
    }
}

@media(max-width:800px) {
    /*** Anasayfa - Header ***/
    button.toggle-nav {
        float: right;
        display: inline-block;
        color: #ffffff;
        background-color: transparent;
        border: none;
        padding: 20px 20px 0px 0px;
        font-size: 25pt;
    }
    .nav {
        display: none;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 25px;
        padding-right: 0px;
        text-align: center;
    }
    .logo {
        padding: 10px 0px 10px 20px;
    }
    .nav ul {
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .nav ul li {
        display: block;
        padding: 5px 0px;
    }
    .nav ul li a {
        text-align: center;
    }
    .dropdown-content {
        width: 100%;
    }
    /*** Anasayfa - Slider ***/
    .slider-text h1 {
        font-size: 15pt;
    }
    li.social-media-line {
        display: none;
    }
    .slider-panel {
        right: 3%;
    }
    /*** Anasayfa - Hakkımızda ***/
    .about-us-title {
        margin-top: 50px;
        font-size: 30pt;
    }
    .about-us-image {
        padding: 0px;
        transition: none;
    }
    .about-us-image:hover {
        transform: none;
    }
    .about-us-text {
        position: relative;
    }
    .about-us-text {
        right: 0px;
        position: relative;
    }
    /*** Anasayfa - Arabuluculuk ***/
    .mediation-title {
        font-size: 30pt;
    }
    .mediation-text {
        padding-right: 20px;
        padding-left: 20px;
    }
    /*** Anasayfa - Ekibimiz ***/
    section.ekibimiz {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .team1 {
        display: none;
    }
    #ekip-slider3 {
        display: none;
    }
    section.ekibimiz .layer {
        width: 100%;
    }
    .team-title {
        position: relative;
        transform: none;
        background-color: transparent;
        box-shadow: none;
        margin-top: 0px;
        padding: 0px;
        text-align: left;
        left: 10px;
        border-bottom: 1px solid #a7a7a7;
    }
    section.ekibimiz .layer {
        padding: 10px 40px 50px 40px;
    }
    #ekip-slider4 {
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .team2 {
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
    #ekip-slider4 .team-desc {
        max-height: 500px;
    }
    /*** Uzmanlık Alanlarımız ***/
    .expertise-title {
        font-size: 30pt;
    }
    .expertise-slider {
        margin: 40px 0px 50px 0px;
    }
    .subject-image {
        transition: none;
    }
    .subject-image:hover {
        transform: none;
    }
    /*** Anasayfa - Tespit ***/
    section.tespit {
        margin-top: 50px;
    }
    .fixing-image {
        transition: none;
    }
    .fixing-image:hover {
        transform: none;
    }
    /*** Kurumsal ***/
    .about-us-container {
        margin-right: 50px;
        margin-left: 50px;
    }
    .vision-container {
        margin-right: 50px;
        margin-left: 50px;
    }
    .mission-container {
        margin-right: 50px;
        margin-left: 50px;
    } 
    .about-us-container .image {
        transition: none;
    }
    .about-us-container .image:hover {
        transform: none;
    }
    /*** Kurumsal - Vizyon ***/
    .vision-galery .item {
        transition: none;
    }
    .vision-galery .item:hover {
        transform: none;
    }
    /*** Kurumsal - Misyon ***/
    .vision-galery .col-lg-7 img{
        transition: none;
    }
    .vision-galery .col-lg-7 img:hover {
        transform: none;
    }
    /*** Arabuluculuk Nedir ***/
    .mediation-container {
        margin-right: 50px;
        margin-left: 50px;
    } 
    /*** Arabulucu Ne Yapar ***/
    .mediator-container {
        margin-right: 50px;
        margin-left: 50px;
    } 
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    .mediator-when-container.clearfix {
        margin-right: 50px;
        margin-left: 50px;
    } 
    /*** Arabuluculuk Süreci Nasıl İşler ***/
    .process-container {
        margin-right: 50px;
        margin-left: 50px;
    } 
    /*** Anlaşma Sağlanmasının Hukuki Sonucu Nedir ***/
    .law-container {
        margin-right: 50px;
        margin-left: 50px;
    } 
    /*** Başarısız Olunursa Ne Olur ***/
    .result-container.clearfix {
        margin-right: 50px;
        margin-left: 50px;
    } 
    /*** Ekibimiz ***/
    section.hakkimizda-ekibimiz .title {
        margin-right: 50px;
        margin-left: 50px;
        font-size: 30pt;
        margin-bottom: 20px;
    } 
    .team-slider {
        margin-right: 50px;
        margin-left: 50px;
    } 
    #team-slider1 .owl-nav.disabled {
        top: 55%;
    }
    #team-slider1 .image, #team-slider2 .item {
        transition: none;
    }
    #team-slider1 .image:hover, #team-slider2 .item:hover {
        transform: none;
    }
    /*** Uzmanlık Alanlarımız ***/
    .services-container {
        margin-right: 50px;
        margin-left: 50px;
    } 
    section.hizmetler1 {
        margin-top: 50px;
    }
    .services-container .services-image {
        padding-left: 0px;
    }
    .services-container img {
        transition: none;
    }
    .services-container img:hover {
        transform: none;
    }
    /*** İletişim ***/
    section.iletisim-page {
        margin-right: 50px;
        margin-left: 50px;
    } 
    .iletisim-card {
        padding: 30px 30px 0px 30px;
    }
    .contact-image {
        transition: none;
    }
    .contact-image:hover {
        transform: none;
    }
}

@media(max-width:768px) {
   /*** Anasayfa - Kurumsal ***/
   .about-us-text {
        padding: 10px 20px;
    }
    /*** Arabuluculuk Nedir ***/
    .mediation-container .mediation-big-title {
        font-size: 25pt;
    }
    /*** Arabulucu Ne Yapar ***/
    .mediator-container h1 {
        font-size: 25pt;
    }
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    .mediator-when-container h1 {
        font-size: 25pt;
    }
    /*** Arabuluculuk Süreci Nasıl İşler ***/
    .process-desc h1 {
        font-size: 25pt;
    }
    /*** Başarısız Olunursa Ne Olur ***/
    .result-container h1 {
        font-size: 25pt;
    }
}

@media(max-width:736px) {
    /*** Anasayfa -Uzmanlık Alanlarımız ***/
    .expertise-title {
        padding-left: 350px;
    } 
    .subject-desc {
        margin-left: 0px;
        margin-top: 10px;
    }
    .subject-image {
        padding-left: 0px;
        padding-right: 0px;
    }
    #subject .owl-nav [class*=owl-] {
        margin-top: 0px;
    }
    /*** Anasayfa - Tespit ***/
    .fixing-title {
        padding-top: 0px;
    }
    section.tespit .line {
        margin-top: 50px;
    }
    /*** Arabuluculuk nedir ***/
    .mediation-container .mediation-desc {
        padding: 20px 30px;
    }
    /*** Arabulucu Ne Yapar ***/
    .mediator-container p {
        padding: 20px 30px;
    }
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    .mediator-when-container p {
        padding: 20px 30px;
    }
    /*** Arabuluculuk SüreciNasıl İşler ***/
    .process-desc {
        padding: 20px 30px;
    }
    /*** Anlaşma Sağlanmasının Hukuki Sonucu Nedir ***/
    .law-container p {
        padding: 20px 30px;
    }
    /*** Başarısız Olunursa Ne Olur ***/
    .result-container p {
        padding: 20px 30px;
    }
    /*** İletişim ***/
    #map {
        min-height: 200px;
    }
}

@media(max-width:425px) {
   /*** Anasayfa - Header ***/
   .logo {
        padding: 10px 0px 10px 10px;
        width: 18%;
    }
    button.toggle-nav {
        font-size: 20pt;
    }
    /*** Anasayfa - Slider ***/
    .slider-text {
        bottom: 10%;
    }
    .slider-text h1 {
        font-size: 11pt;
    }
    .social-media {
        display: none;
    }
    #homeSlider .owl-nav.disabled {
        right: 4%;
        bottom: 12%;
    }
    #homeSlider .owl-nav [class*=owl-] {
        font-size: 20px;
    }
    .slider:after {
        height: 5px;
    }
    /*** Anasayfa - Hakkımızda ***/
    .about-us-title {
        font-size: 25pt;
    }
    /*** Anasayfa - Arabuluculuk ***/
    .mediation-title {
        font-size: 25pt;
        margin-top: 50px;
    }
    .mediation-text {
        padding-right: 0px;
        padding-left: 0px;
    }
    .mediation-image {
        padding-right: 0px;
        padding-left: 0px;
    }
    /*** Anasayfa - Ekibimiz ***/
    section.ekibimiz .layer {
        padding: 10px 20px 50px 20px;
    }
    #ekip-slider4 .team-desc {
        position: relative;
        width: 100%;
        right: 0px;
    }
    /*** Anasayfa - Uzmanlık Alanlarımız ***/
    .expertise-line {
        margin-left: 10px;
        width: 200px;
    }
    .expertise-title {
        padding-left: 50px;
        font-size: 25pt;
    }
    .expertise-slider {
        padding: 0px 20px;
    }
    /*** Anasayfa - Tespit ***/
    section.tespit .panel {
        padding: 0px 20px;
    }
    .fixing-image-title {
        font-size: 17pt;
    }
    .fixing-image-title h1 {
        font-size: 17pt;
    }
    /*** Kurumsal - Slider ***/
    .about-us-container {
        margin-right: 20px;
        margin-left: 20px;
    }
    /*** Kurumsal - Vizyon ***/
    .vision-container {
        margin-right: 20px;
        margin-left: 20px;
    }
    /*** Kurumsal - Misyon ***/
    section.misyon {
        margin-top: 50px;
    }
    .mission-container {
        margin-right: 20px;
        margin-left: 20px;
    }
    /*** Arabuluculuk Nedir ***/
    .mediation-container {
        margin-right: 20px;
        margin-left: 20px;
    }
    .mediation-container .mediation-big-title {
        font-size: 20pt;
        padding-bottom: 3px;
    }
    /*** Arabulucu Ne Yapar ***/
    .mediator-container {
        margin-right: 20px;
        margin-left: 20px;
    }
    .mediator-container h1 {
        font-size: 20pt;
        padding-bottom: 3px;
    }
    section.mediator {
        padding-bottom: 20px;
    }
    /*** Ne Zaman Arabuluculuğa Gidilir ***/
    .mediator-when-container.clearfix {
        margin-right: 20px;
        margin-left: 20px;
    }
    .mediator-when-container h1 {
        font-size: 19pt;
        padding-bottom: 3px;
    }
    section.mediator-when {
        padding-bottom: 20px;
    }
    /*** Arabuluculuk Süreci Nasıl İşler ***/
    .process-container {
        margin-right: 20px;
        margin-left: 20px;
    }
    .process-desc h1 {
        font-size: 18pt;
        padding-bottom: 3px;
    }
    .process-desc h2 {
        font-size: 16pt;
    }
    /*** Anlaşma Sağlanmasının Hukuki Sonucu Nedir ***/
    .law-container {
        margin-right: 20px;
        margin-left: 20px;
    }
    .law-container h1 {
        font-size: 20pt;
        padding-bottom: 3px;
    }
    section.law {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    /*** Başarısız Olunurs nE oLUR ***/
    .result-container.clearfix {
        margin-right: 20px;
        margin-left: 20px;
    }
    .result-container h1 {
        font-size: 18pt;
    }
    section.result {
       padding-bottom: 20px;
       margin-bottom: 50px;
    }
    /*** Ekibimiz ***/
    section.hakkimizda-ekibimiz .title {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25pt;
    }
    .team-slider {
        margin-right: 20px;
        margin-left: 20px;
    }
    .team-slider1 {
        padding-right: 0px;
        padding-left: 0px;
    }
    section.hakkimizda-ekibimiz h1 {
        font-size: 20pt;
    }
    #team-slider1 .item .line {
        margin-left: 30px;
    }
    section.hakkimizda-ekibimiz {
        margin-bottom: 50px;
    }
    /*** Uzmanlık Alanlarımız ***/
    .services-container {
        margin-right: 20px;
        margin-left: 20px;
    }
    section.hizmetler-slider .title {
        font-size: 20pt;
    }
    .services-container .services-desc {
        padding: 20px 10px;
    }
    section.hizmetler4 {
        margin-bottom: 50px;
    }
    /*** İletişim ***/
    section.iletisim-page {
        margin-right: 20px;
        margin-left: 20px;
    }
    .contact-panel {
        position: relative;
    }
    .contact-image {
        display: none;
    }
}